body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 2rem;
}

.survey {
  text-align: center;
}

.survey input {
  margin:0 auto;
  max-width: 10em;
}

h5, input.form-control{
  font-size: 2rem;
}

.alert {
  font-size: 1.6rem;
}

input[type=button] {
  font-size: 2.0rem;
}
